<div class="home">
    <div class="container"> 
        <div class="d_flex f_ai_c mb_60 f_jc_s">
            <div class="mr_30 wp_22">
                <%- include('../../components/organisms/hero-menu/hero-menu') %>
            </div> 
            <div class="wp_78 f_as_s">
                <%- include('../../components/organisms/hero-banner/hero-banner') %>
            </div> 
        </div> 
        <div class="d_flex f_ai_c mb_60 f_jc_s">
            <div class="wp_24">
                <%- include('../../components/molecules/icon-box/icon-box') %>
            </div>
            <div class="wp_24">
                <%- include('../../components/molecules/icon-box/icon-box') %>
            </div>
            <div class="wp_24">
                <%- include('../../components/molecules/icon-box/icon-box') %>
            </div>
            <div class="wp_24">
                <%- include('../../components/molecules/icon-box/icon-box') %>
            </div>
        </div>
        <div class="d_flex f_ai_c mb_60 f_jc_s">
            <div class="wp_32">
                <%- include('../../components/molecules/icon-box/icon-box') %>
            </div>
            <div class="wp_32">
                <%- include('../../components/molecules/icon-box/icon-box') %>
            </div>
            <div class="wp_32">
                <%- include('../../components/molecules/icon-box/icon-box') %>
            </div>
        </div>
    </div>
</div>