<div class="home"> 
    <!-- First Section -->
    <div class="mb_90 pt_60 pb_60 bc_white">
        <div class="container">
            <h2 class="mb_50 f_36 t_cen roboto_regular c_333"><%- hero_section?.heading %></h2>
            <div class="d_flex f_jc_c f_g40">
            <% for (item of hero_section?.hero_cards) { %>
                  <div class="wp_20">
                    <%- include('../../components/color-card/color-card', {data:item}) %>
                </div>
              <% } %>
            </div>
        </div>
    </div>
    <!-- Second Section -->
    <div class="mb_90 pt_60 pb_60 bc_fbfbfb">
        <div class="container">
            <h2 class="mb_12 f_36 t_cen roboto_regular c_333 mb_50"><%- technologies_tutorials?.heading %></h2>
            <div class="d_flex f_jc_c f_g20">
                <% for (item of technologies_tutorials?.cards) { %>
                   <div class="wp_14">
                        <%- include('../../components/plan-card/plan-card', {data:item}) %> 
                    </div>
                  <% } %>
            </div>
            
        </div>
    </div>
     <!-- Third Section -->
     <div class="mb_90 pt_60 pb_60 bc_white">
        <div class="container">
            <h2 class="mb_12 f_36 t_cen roboto_regular c_333"><%- technologies_tutorials?.heading %></h2>
        </div>
    </div>
    <!-- Second Last Section -->
    <div class="mb_90 pt_60 pb_60 bc_eee">
        <div class="container">
            <h2 class="mb_12 f_36 t_cen roboto_regular c_333 mb_50"><%- design_tutorials?.heading %></h2>
            <div class="d_flex f_jc_c f_g40">
            <% for (item of design_tutorials?.cards) { %>
                <div class="wp_20">
                    <%-  include('../../components/card1/card1', {data:item})  %> 
                </div>
              <% } %>
            </div>
        </div>
    </div>
    <!-- Last Section -->
    <div class="mb_90">
        <div class="container t_cen">
            <h2 class="mb_12 f_36"><%- bottom_info?.heading %></h2>
            <p class="mb_30 f_18 c_646"><%- bottom_info?.para %></p>
            <div class="d_in_block">
                <a href="<%- bottom_info?.cta_link %>" class="d_flex f_ai_c b_r40 h_50 pl_30 pr_30 bc_primary c_white c_h_white"><%- bottom_info?.cta %></a>
            </div>
        </div>
    </div>
     
   
   
</div>
